<div class="middle_bar">
	<div class="panel_top">
		<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SETTINGS_TAB'}"></h2>
	</div>
	<div class="panel_center">
		<div class="fields">
			<div class="fieldset">
				<div class="hint row">
					<span class="value" data-bind="i18n: {'key': '%MODULENAME%/INFO_CONNECTED'}, visible: connected"></span>
					<span class="value" data-bind="i18n: {'key': '%MODULENAME%/INFO_NOT_CONNECTED'}, visible: !connected()"></span>
				</div>
				<div class="row buttons" style="text-align: left; margin-bottom: 0;">
					<span class="button" data-bind="click: disconnect, visible: connected">
						<span data-bind="i18n: {'key': '%MODULENAME%/BUTTON_DISCONNECT'}"></span>
					</span>
					<span class="button" data-bind="click: connect, visible: !connected()">
						<span data-bind="i18n: {'key': '%MODULENAME%/BUTTON_CONNECT'}"></span>
					</span>
				</div>
			</div>		
		</div>
	</div>
</div>
