.login_panel .social div.facebook {
	background-color: #5f78ab;
	background-image: url("../../images/modules/FacebookAuthWebclient/icon.png");
	border: 1px solid #29447e;
	
	&:hover {
		background-color: #5f78ab;
	}
}
